body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#wrapper > div {
  padding: 16px;
  width: 100%;
}

#form-area {
  border-right: 1px solid black;
}

#chart-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button {
  margin: 4px;
}
